* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;

  font-family: $baseFont;
  font-size: size(12);
  line-height: 1.16666667;
  font-style: normal;
  font-weight: 400;

  background-color: $colorWhite;

  word-break: break-word;

  @include desktop {
    background-color: $colorLightGray;
  }
}

select {
  cursor: pointer;
  appearance: none;

  option {
    cursor: pointer;
  }
}

.title {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 size(15);

  @media (min-width: 540px) {
    max-width: size(540);
    padding: 0;
  }

  @include tablet {
    max-width: size(720);
  }

  @include laptop {
    max-width: size(900);
  }

  @include desktop {
    max-width: 85%;
  }

  @include large {
    max-width: size(1200);
  }
}

.hidden {
  display: none !important;
}

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
