.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  flex-shrink: 0;

  &-arrow-down {
    // background-image: url("#{$imgpath}icons/icon-arrow-down.svg");
  }
}
