/* You can add global variables to this file*/
$colorLightseagreen: lightseagreen;
$colorLightsalmon: lightsalmon;
$colorRed: #ed1c24;
$colorLightGray: #e5e5e5;
$colorDarkGray: #6e767d;
$colorWhite: #fff;

// The default font size for html is 16px
$baseSize: 16;

$imgpath: "assets/images/";

$colorBlack: #000000;

$textColorDefault: #a6aaad;
$textColorSecondary: #212121;
$textColorSecondaryLighter: #333333;
$textColorSecondaryDarker: #282b2e;

$borderColorDefault: $colorDarkGray;
$borderColorSecondary: #d7d7d7;
$borderColorHover: #005fcc;
