/* You can add global variables to this file*/
$colorLightseagreen: lightseagreen;
$colorLightsalmon: lightsalmon;

// The default font size for html is 16px
$base-size: 16;

$roboto: "Roboto";

$imgpath: "assets/images/";

$colorBlack: #000000;

$textColorDefault: #a6aaad;
$textColorSecondary: #212121;
$textColorSecondaryLighter: #333333;
$textColorSecondaryDarker: #282b2e;

$borderColorDefault: #6e767d;
$borderColorSecondary: #d7d7d7;
