<app-contacts-header></app-contacts-header>
<div class="contacts-main container">
  <app-contacts-filter></app-contacts-filter>
  <div class="contact-card-list">
    <app-contact-card
      *ngFor="let contact of contacts | async"
      [contact]="contact"
    ></app-contact-card>
  </div>
  <div class="paginator-block">
    <div class="paginator-block__page-number">
      <span class="paginator-block__button paginator-block__button_current"
        >1</span
      >
    </div>
    <div class="paginator-block__page-number">
      <span class="paginator-block__button">2</span>
    </div>
    <div class="paginator-block__page-number">
      <span class="paginator-block__button">3</span>
    </div>
    <div class="paginator-block__page-number">
      <span class="paginator-block__button">4</span>
    </div>
    <div class="paginator-block__page-next">
      <span class="paginator-block__button icon-right"></span>
    </div>
  </div>
</div>
