&__form {
  display: flex;
  width: 100%;

  flex-flow: column nowrap;

  @media (min-width: 667px) {
    flex-direction: row;
    justify-content: space-between;
  }

  &-block {
    position: relative;

    @media (min-width: 667px) {
      flex: auto;
    }
  }
}
