//import global project variables
@import "../../../scss/basic/variables.scss";
@import "../../../scss/basic/media_variables.scss";
@import "toggle-button.component.scss";

.contacts-filter {
  margin-bottom: size(12.2);

  &__form {
    display: flex;
    width: 100%;

    flex-flow: column nowrap;

    @media (min-width: 667px) {
      flex-direction: row;
      justify-content: space-between;
    }

    &-block {
      position: relative;

      @media (min-width: 667px) {
        flex: auto;
      }
    }
  }

  &__select {
    width: 100%;
    min-height: size(34);
    padding-top: size(10);
    padding-right: size(30);
    padding-bottom: size(10);
    padding-left: size(10);

    font-style: italic;
    font-size: size(11.3);

    color: $textColorSecondaryLighter;
    border: 0.704545px solid $borderColorDefault;
    border-radius: size(72);
    box-shadow: 0px 2.81818px 14.7955px rgba(0, 0, 0, 0.07);

    opacity: 0.8;
    outline: none;

    @media (min-width: 667px) {
      min-height: size(28);
      padding-top: size(6);
      padding-bottom: size(7);
      padding-left: size(15.95);

      font-size: size(12);

      border-top-left-radius: size(72);
      border-bottom-left-radius: size(72);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:focus {
      box-shadow: inset 0 0 0 1px $borderColorHover;
    }

    &-wrap {
      margin-bottom: size(12.2);

      @media (min-width: 667px) {
        width: 33.58753%;
        margin-bottom: 0;
      }

      &::before {
        position: absolute;
        top: 50%;
        right: size(15);
        z-index: 1;

        font-weight: bold;
        font-size: size(16);

        color: $colorRed;

        transform: translateY(-50%);

        @media (min-width: 667px) {
          right: size(10);
        }
      }
    }
  }

  &__search-input {
    width: 100%;
    min-height: size(34);
    padding-top: size(10);
    padding-right: size(33);
    padding-bottom: size(10);
    padding-left: size(10);

    font-style: italic;
    font-size: size(11.3);

    color: $textColorSecondaryLighter;
    border: 0.704545px solid $borderColorDefault;
    border-radius: size(72);
    box-shadow: 0px 2.81818px 14.7955px rgba(0, 0, 0, 0.07);

    opacity: 0.8;
    outline: none;

    @media (min-width: 667px) {
      min-height: size(28);
      padding-top: size(6);
      padding-bottom: size(7);
      padding-left: size(8.29);

      font-size: size(12);

      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: size(72);
      border-bottom-right-radius: size(72);
    }

    &:focus {
      box-shadow: inset 0 0 0 1px $borderColorHover;
    }

    &::placeholder {
      color: $textColorSecondaryLighter;
    }

    &-wrap {
      @media (min-width: 667px) {
        width: 66.41247%;
      }

      &::before {
        position: absolute;
        top: 50%;
        right: size(10);
        z-index: 1;

        font-size: size(25);

        color: $borderColorDefault;

        transform: translateY(-50%);

        @media (min-width: 667px) {
          right: size(7.64);
        }
      }
    }
  }

  &-options {
    &__content {
      display: flex;
      margin-bottom: size(28.8);

      flex-flow: column;

      @media (min-width: 667px) {
        flex-flow: row;
      }
    }
  }
}
